<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Lista de albuns</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>321</td>
                    <td>This is a title</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
