<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Lista de albuns</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- albuns vem de listar-albums-component.ts -->
                  <tr *ngFor="let a of albums">
                    <td>{{a.userId}}</td>
                    <td>{{a.id}}</td>
                    <td>{{a.title}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
